h1 {
  padding: 1em;
  text-align: center;
}

.edu {
  border: 5px solid red;
}

p {
  text-align: center;
}

div > h2 {
  text-align: center;
}

.resume_pics{
  text-align: center;
}

.text{
  display: inline-block;
}
