* {
  font-family: monospace, Verdana, Geneva, Tahoma, sans-serif, "Times New Roman";
  font-weight: bold;
  color: #242423;
  background-color: #EBF8D3;

}

.links{
  text-align: center;
}

.buttonL{
  text-decoration: none;
  color: #EBF8D3;
  padding: 14px 25px;
  background-color: #333533;
}

.buttonL:hover{
  text-decoration: none;
  color: black;
  padding: 14px 25px;
  background-color: #F5CB5C;
  transition: 0.4s ease;
}

h1 {
  padding: 1em;
  text-align: center;
}

.edu, .exp {
  border: 5px solid rgb(166, 172, 255);
  border-color: #333533;
}

.edu > div, .exp > div {
  width: 80%;
  margin: auto;
  padding: 15px;
}

.intro {
  text-align: center;
}

div > h2 {
  text-align: center;
}

.resume_pics{
  text-align: center;
}

.text{
  display: inline-block;
}
